@font-face {
	font-family: Lato-Regular;
	src: url(../../fonts/Lato-Regular.ttf);
}

@font-face {
	font-family: Lato-Bold;
	src: url(../../fonts/Lato-Bold.ttf);
}

body {
	background-color: #e4f2f1;
	overflow-x: hidden;
}

input[type="file"] {
	display: none;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"] {
	width: 49%;
	height: 30px;
	border-radius: 10px;
	border: solid 1px #314745;
	margin: 40px 354px 0 -114px;
	background: none;
}

label {
	font-family: Lato-Regular;
	color: #314745;
	font-size: 16px;
	margin: 10px 0 0 0;
}

form {
	padding: 0px 40px 0 40px;
}

#image {
	width: 100px;
	height: 100px;
	margin: 0 0 20px 100%;
	object-fit: cover;
}

div {
	display: flex;
}

.userInfo {
	display: grid;
	margin: 20px 0 0 0;
}

.userInfo input[type="text"] {
	width: 570px;
	margin: 10px 80px 40px 0px;
}

.userInfo input[type="email"] {
	width: 22%;
	margin: 10px 70% 40px 0px;
}

.userInfo input[type="password"] {
	width: 32%;
	margin: 10px 70% 40px 0px;
}

.contactInfo {
	margin: 20px 0 0 0;
}

.contactInfo input[type="text"] {
	width: 570px;
	margin: 10px 10px 40px 0px;
}

.contactInfo input[type="date"] {
	width: 35%;
	margin: 10px 360px 40px 0px;
	padding: 0 10px 0 10px;
}

.contactInfo input[type="radio"] {
	margin: 14px 6px 0 10px;
}

#dateEnd {
	position: absolute;
	margin: 0 0px 0 -318px;
}

#type {
	position: absolute;
	margin: 30px 0px 0 -518px;
}

#password {
	position: absolute;
	margin: -1px 0px 0px -834px;
	width: 60%;
}

.status {
	margin: -24px 20px 0 0;
}

button {
	font-family: Lato-Bold;
	font-size: 18px;
	width: 180px;
	height: 50px;
	background-color: #f5811f;
	color: #fff;
	border: none;
	border-radius: 10px;
	margin: 60px 0 40px 82%;
}

.menu {
    margin: 100px 0 40px 32px !important;
    padding: 2px 0px 16px 20px !important;
}

.newItem {
	width: 30px;
	margin: 0 0 0 88%;
}

.newItemUser {
	width: 30px;
	margin: 0 0 0 90%;	
}

#contracts {
	display: none;
}

#users {
	display: none;
}

#close {
	width: 16px;
    margin: 0px 0 -20px 97%;
}

input::placeholder {
	padding: 0 0 0 10px;
}